In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
from mlxtend.preprocessing import TransactionEncoder

In [10]:
df = pd.read_csv("mb.csv")

In [12]:
df.sample(10)

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
4928,grated cheese,ground beef,mineral water,pancakes,rice,ketchup,tomato juice,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6728,grated cheese,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7270,fresh tuna,whole wheat pasta,ground beef,mineral water,olive oil,whole wheat rice,cake,escalope,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4263,shrimp,champagne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4971,ground beef,mineral water,pancakes,salad,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4905,shrimp,ground beef,spaghetti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5768,butter,cookies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6761,meatballs,whole wheat rice,cake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4431,dessert wine,frozen vegetables,spaghetti,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5253,green grapes,cooking oil,french fries,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# making each customers shopping items an identical list
trans = []
for i in range(0, 7501):
    trans.append([str(data.values[i,j]) for j in range(0, 20)])

# conveting it into an numpy array
trans = np.array(trans)

# checking the shape of the array
print(trans.shape)

In [20]:
te = TransactionEncoder()
data = te.fit_transform(trans)
data = pd.DataFrame(data, columns = te.columns_)

In [21]:
data = data.loc[:, ['mineral water', 'burgers', 'turkey', 'chocolate', 'frozen vegetables', 'spaghetti',
                    'shrimp', 'grated cheese', 'eggs', 'cookies', 'french fries', 'herb & pepper', 'ground beef',
                    'tomatoes', 'milk', 'escalope', 'fresh tuna', 'red wine', 'ham', 'cake', 'green tea',
                    'whole wheat pasta', 'pancakes', 'soup', 'muffins', 'energy bar', 'olive oil', 'champagne', 
                    'avocado', 'pepper', 'butter', 'parmesan cheese', 'whole wheat rice', 'low fat yogurt', 
                    'chicken', 'vegetables mix', 'pickles', 'meatballs', 'frozen smoothie', 'yogurt cake']]

Index(['mineral water', 'burgers', 'turkey', 'chocolate', 'frozen vegetables',
       'spaghetti', 'shrimp', 'grated cheese', 'eggs', 'cookies',
       'french fries', 'herb & pepper', 'ground beef', 'tomatoes', 'milk',
       'escalope', 'fresh tuna', 'red wine', 'ham', 'cake', 'green tea',
       'whole wheat pasta', 'pancakes', 'soup', 'muffins', 'energy bar',
       'olive oil', 'champagne', 'avocado', 'pepper', 'butter',
       'parmesan cheese', 'whole wheat rice', 'low fat yogurt', 'chicken',
       'vegetables mix', 'pickles', 'meatballs', 'frozen smoothie',
       'yogurt cake'],
      dtype='object')

In [23]:
data.columns

,mineral water,burgers,turkey,chocolate,frozen vegetables,spaghetti,shrimp,grated cheese,eggs,cookies,...,butter,parmesan cheese,whole wheat rice,low fat yogurt,chicken,vegetables mix,pickles,meatballs,frozen smoothie,yogurt cake
0,False,True,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False

In [24]:
data.head()

      support                            itemsets
0    0.238267                     (mineral water)
1    0.087200                           (burgers)
2    0.062533                            (turkey)
3    0.163867                         (chocolate)
4    0.095333                 (frozen vegetables)
..        ...                                 ...
206  0.010133  (mineral water, eggs, ground beef)
207  0.013067         (mineral water, eggs, milk)
208  0.011067  (mineral water, ground beef, milk)
209  0.010533        (spaghetti, eggs, chocolate)
210  0.010933        (spaghetti, milk, chocolate)

[211 rows x 2 columns]

In [25]:
apriori(data, min_support = 0.01, use_colnames = True)

     support                    itemsets  length
0   0.238267             (mineral water)       1
1   0.087200                   (burgers)       1
2   0.062533                    (turkey)       1
3   0.163867                 (chocolate)       1
4   0.095333         (frozen vegetables)       1
5   0.174133                 (spaghetti)       1
6   0.071333                    (shrimp)       1
7   0.052400             (grated cheese)       1
8   0.179733                      (eggs)       1
9   0.080400                   (cookies)       1
10  0.170933              (french fries)       1
11  0.098267               (ground beef)       1
12  0.068400                  (tomatoes)       1
13  0.129600                      (milk)       1
14  0.079333                  (escalope)       1
15  0.081067                      (cake)       1
16  0.132000                 (green tea)       1
17  0.095067                  (pancakes)       1
18  0.050533                      (soup)       1
19  0.065733                 (olive oil)       1
20  0.058533          (whole wheat rice)       1
21  0.076400            (low fat yogurt)       1
22  0.060000                   (chicken)       1
23  0.063200           (frozen smoothie)       1
24  0.052667  (mineral water, chocolate)       2
25  0.059733  (spaghetti, mineral water)       2
26  0.050933       (mineral water, eggs)       2

In [27]:
frequent_itemsets = apriori(data, min_support = 0.05, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

     support                    itemsets  length
24  0.052667  (mineral water, chocolate)       2
25  0.059733  (spaghetti, mineral water)       2
26  0.050933       (mineral water, eggs)       2

In [28]:
frequent_itemsets[ (frequent_itemsets['length'] == 2) &
                   (frequent_itemsets['support'] >= 0.01) ]

     support             itemsets  length
0   0.238267      (mineral water)       1
1   0.087200            (burgers)       1
2   0.062533             (turkey)       1
3   0.163867          (chocolate)       1
4   0.095333  (frozen vegetables)       1
5   0.174133          (spaghetti)       1
6   0.071333             (shrimp)       1
7   0.052400      (grated cheese)       1
8   0.179733               (eggs)       1
9   0.080400            (cookies)       1
10  0.170933       (french fries)       1
11  0.098267        (ground beef)       1
12  0.068400           (tomatoes)       1
13  0.129600               (milk)       1
14  0.079333           (escalope)       1
15  0.081067               (cake)       1
16  0.132000          (green tea)       1
17  0.095067           (pancakes)       1
18  0.050533               (soup)       1
19  0.065733          (olive oil)       1
20  0.058533   (whole wheat rice)       1
21  0.076400     (low fat yogurt)       1
22  0.060000            (chicken)       1
23  0.063200    (frozen smoothie)       1

In [ ]:
frequent_itemsets[ (frequent_itemsets['length'] == 1) &
                   (frequent_itemsets['support'] >= 0.01) ]